<network>
  <name>{{ item.name }}</name>
  {%- if item.uuid is defined %}<uuid>{{ item.uuid }}</uuid>{%- endif %}
  {% if item.forward is defined %}
    {% if item.forward.mode == 'nat' %}
    <forward mode='nat'>
      <nat>
        <port start='{{ item.forward.port.start | default(1025) }}' end='{{ item.forward.port.end | default(65535) }}'/>
      </nat>
    </forward>
    {% elif item.forward.mode == 'passthrough' %}
    <forward mode='passthrough'>
        {% if item.forward.devs is defined %}
        {% for dev in item.forward.devs %}
            <interface dev='{{ dev }}'/>
        {% endfor %}
        {% endif %}
    </forward>
    {% endif %}
  {% endif %}
  {% if item.bridge is defined %}
  <bridge name='{{ item.bridge.name }}' {%- if item.bridge.stp is defined %} stp='{{ item.bridge.stp }}'{%- endif %} {%- if item.bridge.delay is defined %} delay='{{ item.bridge.delay }}'{%- endif %}
     />
       {% endif %}
       <mtu size="9216"/>
  {% if item.hwaddr is defined %}
  <mac address='{{ item.hwaddr | hwaddr }}'/>
  {% endif %}

  {% if item.domainname is defined %}
  <domain name='{{ item.domainname }}'/>
  {% endif %}
   
  <ip address='{{ item.ipaddr | ipaddr }}' netmask='{{ item.netmask }}'>
    {% if item.dhcp_range.start is defined and item.dhcp_range.end is defined %}
    <dhcp>
      <range start='{{ item.dhcp_range.start | ipaddr }}' end='{{ item.dhcp_range.end | ipaddr }}'/>

      {% for vm in vms %}
        {% for net in vm.networks %}
          {% if net.name == item.name %}
            <host mac='{{ '52' |random_mac(seed=vm.hostname+net.name) }}' name='{{ vm.name }}' ip='{{ net.ip }}'/>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </dhcp>
    {% endif %}
  </ip>
</network>